## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,0,Hilo,US,71.60,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,8,Lorengau,PG,80.94,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
2,9,Atuona,PF,77.77,light rain,-9.80,-139.03,Villa Enata
3,16,Micheweni,TZ,80.62,overcast clouds,-4.97,39.83,NaN
4,17,Honiara,SB,75.20,light rain,-9.43,159.95,Heritage Park Hotel

In [3]:
print(vacation_df['Country'].to_list())

['US', 'PG', 'PF', 'TZ', 'SB', 'PH', 'ZM', 'PF', 'PG', 'MV', 'RE', 'AU', 'TO', 'KE', 'KI', 'ID', 'TZ', 'MX', 'EC', 'LK', 'ID', 'MU', 'DJ', 'PE', 'MU', 'NI', 'BJ', 'CO', 'GD', 'SB', 'BB', 'EC', 'ZA', 'IN', 'MU', 'VU', 'CK', 'IN', 'AU', 'UY', 'AU', 'ZA', 'UY', 'MY', 'BB', 'SO', 'ZA', 'TC', 'AI', 'GH', 'PE', 'MZ', 'BR', 'CV', 'PG', 'ZM', 'ID', 'VN', 'OM', 'BO', 'AU', 'ID', 'CL', 'AU', 'ID', 'BR', 'IN', 'SO', 'SL', 'IN', 'MR', 'PH', 'TZ', 'AR', 'CF', 'MV', 'GA', 'ID', 'BR', 'YE', 'AU', 'SO', 'AU', 'GQ', 'OM', 'PF', 'TO', 'PF', 'CU', 'VE', 'GF', 'CO', 'AU', 'MU', 'SO', 'LK', 'IN', 'ES', 'KH', 'AU', 'NC', 'NE', 'SV', 'PF', 'SA', 'PH', 'LK', 'NI', 'PG', 'MG', 'MY', 'MY', 'CO', 'ID', 'PW', 'ES', 'MG', 'ZA', 'VN', 'PH', 'PH', 'MG', 'CU', 'UY', 'NU', 'PG', 'PG', 'CR', 'TH', 'MX', 'PE', 'PH', 'PH', 'OM', 'AU', 'AU', 'PG', 'IN', 'CO', 'BR', 'AO', 'MV', 'NC', 'MZ', 'PE', 'ID', 'BR', 'BR', 'SD', 'TZ', 'CR', 'NE', 'SA', 'GA', 'MG', 'IN', 'MY', 'IN', 'CL', 'US', 'MV', 'ID', 'GT', 'PH', 'ID', 'LK', 'BR', 'ID', 'SB', 'RE', 'MV', 'AU', 'ZW', 'CD', 'BR', 'SO', 'MY', 'BB', 'PE', 'CV', 'KE', 'SD', 'US', 'CL', 'PE', 'JM', 'ZA', 'MG', 'BR', 'MX', 'VN', 'CR', 'IN', 'ID', 'MG', 'AR', 'MX', 'ID', 'AU', 'MX', 'MZ', 'ZM', 'ID', 'AR', 'LK', 'ID', 'RE']

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

       Lat     Lng
0    19.73 -155.09
1    -2.02  147.27
2    -9.80 -139.03
3    -4.97   39.83
4    -9.43  159.95
..     ...     ...
202   1.17  108.97
203 -26.79  -60.44
204   6.48   79.98
205   1.45  125.18
206 -21.27   55.52

[207 rows x 2 columns]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
vacation_start = vacation_df.loc[(vacation_df["Country"] == "BR")].dropna()
vacation_start

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
52,188,Pauini,BR,83.14,overcast clouds,-7.71,-66.98,Casa do Kiwliks
78,257,Cidreira,BR,75.97,broken clouds,-30.18,-50.21,Hotel Castelo
139,469,Bayeux,BR,82.40,broken clouds,-7.12,-34.93,Hotel Villa Rica
146,509,Manacapuru,BR,84.20,broken clouds,-3.30,-60.62,Novo Hotel
147,510,Foz Do Iguacu,BR,75.20,broken clouds,-25.55,-54.59,Turrance Green Hotel
166,559,Sananduva,BR,70.45,overcast clouds,-27.95,-51.81,Grupo Temtambém
174,586,Cabedelo,BR,82.40,broken clouds,-6.98,-34.83,Lua Mansa Pousada
188,633,Alpinopolis,BR,79.75,moderate rain,-20.86,-46.39,Hotel Ventania

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Country"] == "BR") & \
                                (vacation_df["City"] == "Cidreira")]
vacation_end = vacation_df.loc[(vacation_df["Country"] == "BR") & \
                                (vacation_df["City"] == "Cidreira")]
vacation_stop1 = vacation_df.loc[(vacation_df["Country"] == "BR") & \
                                (vacation_df["City"] == "Sananduva")]
vacation_stop2 = vacation_df.loc[(vacation_df["Country"] == "BR") & \
                                (vacation_df["City"] == "Foz Do Iguacu")]
vacation_stop3 = vacation_df.loc[(vacation_df["Country"] == "BR") & \
                                (vacation_df["City"] == "Alpinopolis")]
vacation_stop3

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
188,633,Alpinopolis,BR,79.75,moderate rain,-20.86,-46.39,Hotel Ventania

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
start

array([-30.18, -50.21])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}
fig = gmaps.figure(layout=figure_layout)
direction = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                  travel_mode='DRIVING')
fig.add_layer(direction)

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='600px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,257,Cidreira,BR,75.97,broken clouds,-30.18,-50.21,Hotel Castelo
1,257,Cidreira,BR,75.97,broken clouds,-30.18,-50.21,Hotel Castelo
2,559,Sananduva,BR,70.45,overcast clouds,-27.95,-51.81,Grupo Temtambém
3,510,Foz Do Iguacu,BR,75.20,broken clouds,-25.55,-54.59,Turrance Green Hotel
4,633,Alpinopolis,BR,79.75,moderate rain,-20.86,-46.39,Hotel Ventania

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_itinerary.csv"
# 8b. Export the City_Data into a csv
itinerary_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.

figure_layout = {
    'width': '700px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px'
}
fig = gmaps.figure(layout=figure_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', padding='1px', width='700px'))